name: Build & Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lint Lua files
        run: ./tools/lint.sh

      - name: Run Tests
        run: ./tools/test.sh

      - name: Build Package
        run: ./tools/build.sh
